<app-adminnavbar></app-adminnavbar>

 

  <br>
  <br>

  <div class="container">
    <table matSort (matSortChange)="sortData($event)" class="table" >
        <thead>
          <tr>
            <!-- <th>Id</th> -->
            <th>FullName</th>
            <th>FatherName</th>
            <!-- <th>Address</th> -->
    
            <th>CurrentProgram</th>
            <th>LastProgram</th>
            <th>CurrentGPA</th>
    
            <th>Status</th>
            <!-- <th>RollNumber</th> -->
            <th scope="col" mat-sort-header="registratioDate">RegistrationDate</th>
            <th>Action</th>
    
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of studentData">
            <!-- <td>{{row.id}}</td> -->
            <td>{{row.fullName}}</td>
            <td>{{row.fatherName}}</td>
            <!-- <td>{{row.address}}</td> -->
    
            <td>{{row.currentProgram}}</td>
            <td>{{row.lastProgram}}</td>
            <td>{{row.currentGPA}}</td>

            <!-- <td>{{row.status}}</td> -->
            <td *ngIf="row.status == 'InActive'"><i class="fa-solid text-warning fa-circle"></i></td>
            <td *ngIf="row.status == 'Active'"><i class="fa-solid text-success fa-circle"></i></td>
            <td *ngIf="row.status == 'Away'"><i class="fa-solid text-danger fa-circle"></i></td>

            <!-- <td>{{row.rollNumber}}</td> -->
            <td>{{row.registratioDate | date: 'dd-MM-yyyy'}}</td>
            <td><button (click)="onEdit(row)" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button></td>
           
          </tr>
        </tbody>
      </table>

    </div>


    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Student Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form  [formGroup]="studentRegisterForm" >

          <div class="form-group">
            <label for="exampleInputPassword1">FullName</label>
            <input formControlName="fullName"  type="text" class="form-control" 
              placeholder="FullName" >
                  
              <span class="text-danger" *ngIf="fullName && fullName.invalid && fullName.touched">Enter the FullName</span>

          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">FatherName</label>
            <input formControlName="fatherName" type="text" class="form-control" 
              placeholder="FatherName">

              <span class="text-danger" *ngIf="fatherName && fatherName.invalid && fatherName.touched">Enter the FatherName</span>

          </div>
          <!-- <div class="form-group">
            <label for="exampleInputPassword1">Address</label>
            <input formControlName="address" type="text" class="form-control" id="exampleInputPassword1"
              placeholder="Address">
              <span style="color: red;" *ngIf="address && address.invalid && address.touched">Enter the Address</span>
          </div> -->

                    <!-- -------------------------------------- -->
                    <!-- <div class="form-group">
                      <label for="exampleInputPassword1">CurrentProgram</label>
                      <input formControlName="currentProgram" type="text" class="form-control" id="exampleInputPassword1"
                        placeholder="CurrentProgram">
                        <span style="color: red;" *ngIf="currentProgram && currentProgram.invalid && currentProgram.touched">Enter the CurrentProgram</span>
                    </div> -->

                    <div class="form-group">
                      <label >CurrentProgram</label>
                      <br>
                      <select class="form-select"  formControlName="currentProgram" >
                        <option value="" >CurrentProgram</option>
                        <!-- <option></option> -->
                        <option *ngFor="let program of programData" [value]="program.name">{{program.name}}</option>
                     </select>
                     <span class="text-danger" *ngIf="currentProgram && currentProgram.invalid && currentProgram.touched">Enter the CurrentProgram</span>

                    </div>

                     <!-- -------------------------------------- -->
        
                       <!-- -------------------------------------- -->
                       <!-- <div class="form-group">
                        <label for="exampleInputPassword1">LastProgram</label>
                        <input formControlName="lastProgram" type="text" class="form-control" id="exampleInputPassword1"
                          placeholder="LastProgram">
                          <span style="color: red;" *ngIf="lastProgram && lastProgram.invalid && lastProgram.touched">Enter the LastProgram</span>
                      </div> -->

                      <div class="form-group">
                        <label >LastProgram</label>
                        <br>
                        <select class="form-select" formControlName="lastProgram" >
                          <option value="" >LastProgram</option>
                          <!-- <option></option> -->
                          <option *ngFor="let program of programData" [value]="program.name">{{program.name}}</option>
                       </select>

                       <span class="text-danger" *ngIf="lastProgram && lastProgram.invalid && lastProgram.touched">Enter the LastProgram</span>

                      </div>
                       <!-- -------------------------------------- -->

          <div class="form-group">
            <label for="exampleInputPassword1">CurrentCGPA</label>
            <input formControlName="currentGPA" type="text" class="form-control" id="exampleInputPassword1"
              placeholder="CurrentCGPA">

              <span class="text-danger" *ngIf="currentGPA && currentGPA.invalid && currentGPA.touched">Enter the CurrentCGPA</span>

          </div>

          <!-- <div class="form-group">
            <label for="exampleInputPassword1">Status</label>
            <input formControlName="status" type="text" class="form-control" id="exampleInputPassword1"
              placeholder="Status">
              <span style="color: red;" *ngIf="status && status.invalid && status.touched">Enter the Status</span>
          </div> -->

      

          <div class="form-group">
            <label for="exampleInputPassword1">RegistrationDate</label>
            <input formControlName="registratioDate" type="text" class="form-control" id="exampleInputPassword1"
              placeholder="registratioDate">

              <span class="text-danger" *ngIf="registratioDate && registratioDate.invalid && registratioDate.touched">Put the RegistratioDate</span>


          </div>

          <div class="form-group">
            <!-- <label >Status</label> -->
            <br>
            <select class="form-select" formControlName="status">
              <option value="">Status</option>
              <!-- <option></option>  -->
              <option *ngFor="let status of statusData" [value]="status.name">{{status.name}}</option>
            </select>
            <span class="text-danger" *ngIf="status && status.invalid && status.touched">Enter the Status</span>

            
          </div>

          


        </form>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" (click)="editStudentDetail()"
            class="btn btn-primary">Edit</button>
        </div>
      </div>
      
    </div>
  </div>
</div>

